pydantic==2.6.4
langchain==0.1.14
openai==1.16.2
langchain-openai==0.1.1
GitPython==3.1.36
tiktoken==0.6.0
chromadb==0.4.24
langchain-experimental==0.0.56
langchainhub==0.1.15
duckduckgo-search==6.1.0
